* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  list-style: none;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 12%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 25px;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}
.logo:hover {
  color: orangered;
  text-shadow: 0 0 25px orangered, 0 0 50px orangered;
  transform: scale(1.1);
}
span {
  color: orangered;
}
.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  margin: 0 20px;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active {
  color: orangered;
  border-bottom: 3px solid orangered;
}
.contact {
  padding: 10px 28px;
  background-color: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
}
.contact:hover {
  background-color: orangered;
  box-shadow: 0 0 25px orangered;
  color: white;
}
.home {
  width: 100%;
  min-height: 100vh;
  background: rgb(241, 241, 241);
  display: flex;
  align-items: center;
  gap: 3em;
  padding: 30px 12% 0;
}
.home-content {
  max-width: 800px;
}
.home-content h3 {
  font-size: 42px;
}
.home-content h1 {
  font-size: 62px;
  line-height: 1.2;
}
.home-content p {
  font-size: 18px;
  margin: 25px 0 30px;
}
.btn-box {
  width: 345px;
  display: flex;
  gap: 2em;
}
.btn-1 {
  padding: 15px 28px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn-1:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.btn-2 {
  padding: 15px 28px;
  background-color: orangered;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
}
.btn-2:hover {
  background-color: white;
  color: orangered;
}
.img-box img {
  border-radius: 50%;
  width: 550px;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: orangered;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.6);
  width: 50px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 8%;
  gap: 10em;
  background: black;
}
.about-img img {
  position: relative;
  width: 550px;
  box-shadow: 0 0 25px orangered, 0 0 50px orangered;
  border-radius: 50%;
}
.about-content h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 24px; /* Adjust the font size as needed */
  color: #fff; /* Set the color to white, or any color you prefer */
  text-shadow: 2px 2px 4px #000; /* Optional: Add a text shadow for a more dramatic effect */
  position: inherit;
  padding-left: 70px;
  border-bottom: 2px solid #ffd700; /* Customize the underline with border-bottom */
  padding-bottom: 5px; /* Add padding to create space between text and underline */
}
.about-content p {
  color: white;
  font-size: 20px;
  margin: 2em 0 3em;
  font-family: "Freckle Face", cursive;
  font-weight: bold; /* Make the text bold */
  border: 3px solid #ffd700; /* Add a gold border */
  padding: 10px; /* Add some padding */
  border-radius: 10px; /* Round the corners */
  background-color: orangered; /* Add a vibrant background color */
}

.contact-form h2 {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 36px;
}
.contact-form form {
  max-width: 50em;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3em;
}
.contact-form form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea {
  width: 100%;
  padding: 1.5em;
  font-size: 18px;
  color: black;
  background: rgb(241, 241, 241);
  border-radius: 0.8rem;
  margin: 1rem 0;
  resize: none;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: black;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: white;
}
.footer .social a {
  font-size: 24px;
  color: white;
  border: 2px solid orangered;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
  transition: 0.3s ease;
}
.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a {
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease;
}
.footer ul li a:hover {
  border-bottom: 3px solid orangered;
}
.footer ul li {
  display: inline-block;
  padding: 0 15px;
}
.home .home-content p {
  font-size: 22px;
  color: black;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: oblique;
}
.styled-video {
  position: relative; /* Position relative to its normal position */
  width: 350px; /* Adjust the width as needed */
  border-radius: 25px; /* Adjust the value to achieve desired rounding */
  margin: 20px auto; /* Center the video horizontally with auto margins */
  top: 10px; /* Move the video 10px down */
  left: 50px; /* Move the video 50px to the right */
  border: 3px solid black; /* Black border */
  margin-top: -30px; /* Move the video slightly upward */
}
.scroll-text {
  text-align: center;
  font-size: 24px;
  color: white;
  margin-top: 20px;
  animation: blink 1s infinite;
  font-family: "Press Start 2P", cursive;
}

.arrow-text {
  text-align: center;
  font-size: 24px;
  color: white;
  margin-top: 20px;
  animation: blink 1s infinite;
  font-family: "Press Start 2P", cursive;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.img-box {
  margin-right: 25px; /* Adjust the value as needed */
}
.new-section {
  padding: 50px 0;
  text-align: center;
}

.new-section h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.screenshots {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adjust the gap between screenshots */
}

.screenshot {
  flex: 1;
  max-width: 300px; /* Adjust the maximum width of each screenshot */
  text-align: center;
}

.screenshot img {
  width: 100%;
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}

.screenshot p {
  margin-top: 10px;
  font-size: 16px;
  color: #666; /* Adjust caption text color */
}
.new-section {
  padding: 50px 0;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  list-style: none;
}

.new-section h2 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #333; /* Darker text color */
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; /* Adjust gap between screenshots and side image */
}

.screenshots-container {
  display: flex;
  flex-direction: column; /* Stack screenshots and side image vertically */
  align-items: center; /* Center items horizontally */
  gap: 30px; /* Adjust gap between screenshots and side image container */
}

.screenshots {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust gap between screenshots */
  max-width: 600px; /* Limit width of screenshots */
}

.screenshot {
  flex: 1;
  max-width: 400px; /* Increase maximum width of each screenshot */
  text-align: center;
  border-radius: 12px; /* Rounded corners for screenshots */
  overflow: hidden; /* Ensure content does not overflow rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s ease; /* Smooth transition on hover */
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  list-style: none;
}

.screenshot:hover {
  transform: translateY(-5px); /* Lift screenshot on hover */
}

.screenshot img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 250px; /* Increase maximum height of screenshots */
  border-radius: 12px; /* Rounded corners for images inside screenshots */
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

.screenshot:hover img {
  transform: scale(1.05); /* Scale image on hover */
}
.side-image-container {
  width: 300px; /* Fixed width for side image */
  border-radius: 12px; /* Rounded corners for side image container */
  overflow: hidden; /* Ensure content does not overflow rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

.side-image-container:hover {
  transform: translateY(-5px); /* Lift side image container on hover */
}

.side-image {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  max-height: 300px; /* Limit maximum height of side image */
  border-radius: 12px; /* Rounded corners for side image */
  transition: transform 0.3s ease; /* Smooth transition on hover */
}

.side-image:hover {
  transform: scale(1.05); /* Scale side image on hover */
}
#anime-quiz {
  font-size: 20px; /* Example style */
  color: orangered; /* Example style */
}
#weather-app {
  font-size: 20px; /* Example style */
  color: orangered; /* Example style */
}
#to-do {
  font-size: 20px; /* Example style */
}
